   # Python
   __pycache__/
   *.pyc
   .env
   
   # Virtual environments
   .iyzimit/
   venv/
   env/
   .venv/
   
   # Jupyter
   .ipynb_checkpoints/
   
   # Data files you don't want on GitHub
   *.csv
   *.xlsx
   data/
   
   billing-ar-data-analysis/
   notebooks copy/